@page "{id?}"
@model RazorZoo.Pages.Zoo.EditModel
<div class="jumbotron p-3 d-flex align-items-center">
    <h1 class="display-4">Edit</h1>
    <a class="btn btn-sm btn-primary" asp-page="./Edit" style="float:right">This place for staff</a>
</div>
<partial name="_FormAnimal"/>