@page
@model IndexModel
@{
    ViewData["Title"] = "Cages";
}
<div class="jumbotron">
    <h1 class="text-center">Cages</h1>
    <h3 > Cages containts animals sick</h3>
    <a class="btn btn-sm btn-primary" asp-page="./Edit"> Edit</a>
</div>
<div class="d-flex bg-primary text-white">
    <div class="p-2" style="flex:0 0 10%">ID</div>
    <div class="p-2" style="flex:1 0 20%">Type</div>
    <div class="p-2" style="flex:0 0 auto">Name</div> 
    <div class="p-2" style="flex:1 0 20%">Gender</div>
</div>
<div></div>
